/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px; /* 调整标题字体大小 */
  }
  .quote {
    font-size: 18px; /* 调整报价字体大小 */
  }
}


html {
  scroll-behavior: smooth;
}


/* Welcome page styles */
.welcome-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #561854;
    color: #fff;
    overflow: hidden;
    transition: opacity 0.8s ease-out;
}

.welcome-page.fade-out {
    opacity: 0;
    pointer-events: none; /* 隐藏交互元素 */
}

.content {
    position: relative;
    text-align: center;
    padding-top: 30%;
}

.title {
    font-size: 48px;
}

.quote {
    font-size: 24px;
}

/* Quotes and Progress bar styles */
.quotes {
    background-color: #fde299e0;
    padding: 20px;
}

/* 设置所有田语页面的最小高度为屏幕高度 */
.quotes {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.8s ease-out;
}

/* 如果内容不够屏幕高度，垂直居中显示，并在上下添加空白 */
.quotes-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 在上下添加空白 */
.quotes-content::before, .quotes-content::after {
    content: "";
    flex-grow: 1;
}


#quote-list {
    list-style: none;
    padding: 0;
}

.progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: #3c103b;
    z-index: 999;
    display: none; /* 默认隐藏 */
}
