#footer {
    height: 20vh;
    width: 100%;
    background-color: rgba(151, 144, 150, 0.818);
    backdrop-filter: blur(12px) saturate(180%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#footer p {
    margin: 5px 0;
}

#footer a {
    color: #8a297f;
    text-decoration: underline;
}
